<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SWAMP - IoT Manager</title>

    <!-- Custom fonts for this template-->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
<script>
   var arr;
window.onload = function () {
      //Mask.setOnlyNumbers(Selector.$('tempo'));
           getOrionData();
  }

  function getOrionData() {

var req2 = new XMLHttpRequest();
      
      var url = 'https://cors-anywhere.herokuapp.com/http://177.104.61.55:2020/v0/WeatherStation?&lastN=10';
     
      req2.open("GET", url, true);
      
      req2.setRequestHeader("fiware-service", "openiot");
      req2.setRequestHeader("fiware-servicepath", "/");
      
      req2.onreadystatechange = function(){
       
     
          if (this.readyState ==4 && this.status ==200){
              var myArr = JSON.parse(this.responseText);
              var table = '<h3>'+myArr[0].entityId+'</h3><div class="table-responsive table-hover table-striped"> <table class="table"><th>Date</th><th>View</th>';
              numberOfLines=myArr[0].index.length;
               numberOfAttributes =  myArr[0].attributes.length;
               var validas = ['Battery','AirPressure','RainAcc','RainDuration','RainIntensity','RainPeak','RelativeHumidity']
               var numberOfValidas =  validas.length;
                
               
              for(i=0;i<numberOfLines;i++){
                table = table + '<tr>';
                
                 
                  table = table + '<td>'+myArr[0].index[i]+'</td>';
                  table = table+'<td> <input type="checkbox" id="scales" name="scales"> </td>';
                  for(k=0;k<numberOfAttributes;k++){
                  if(jQuery.inArray(myArr[0].attributes[k].attrName,validas) > 0){
              
                  table = table +'<td>'+myArr[0].attributes[k].attrName+'</td><td>'+myArr[0].attributes[k].values[i].value+'</td>';
                  
                  }
                    
                  
              }
              table = table + '</tr>';
            }
            createChartDiv(table);
            
             
      
      
  
          
          }else{
            //console.log("Error: "+this.responseText);
          }
          var table = table +'</table></div>';           
      }
      req2.send();
      
     
}

function createChartDiv(text){

var block_to_insert ;
var container_block ;

block_to_insert = document.createElement( 'div' );
block_to_insert.innerHTML = text;
//block_to_insert.innerHTML='<div class="card"><div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseOne'+entityId+'">Insert</a></div><div id="collapseOne'+entityId+'" class="collapse show"><div class="card-body">Inserted</div></div></div>';
container_block = document.getElementById( 'accordion' );
container_block.appendChild( block_to_insert );

}



      </script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/data.js"></script>
      <script src="https://code.highcharts.com/modules/series-label.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script src="https://code.highcharts.com/modules/export-data.js"></script>
      
      <!-- Additional files for the Highslide popup effect -->
      <script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
      <script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
      <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <% include ./nav %>
      <!-- Sidebar -->

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              

              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="alertsDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-bell fa-fw"></i>
                  <!-- Counter - Alerts -->
                  <span class="badge badge-danger badge-counter"></span>
                </a>
                <!-- Dropdown - Alerts -->
                <div
                  class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="alertsDropdown"
                >
                  <h6 class="dropdown-header">
                    Alerts Center
                  </h6>
                  
                  
                  <a
                    class="dropdown-item text-center small text-gray-500"
                    href="#"
                    >Show All Alerts</a
                  >
                </div>
              </li>


              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >Undefined</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="https://f0.pngfuel.com/png/178/595/black-profile-icon-illustration-user-profile-computer-icons-login-user-avatars-png-clip-art-thumbnail.png"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-1 text-gray-800">Matopiba Pilot</h1>

            <!-- Content Row -->
            <div class="row">
              <div class="col-lg-12">
                <!-- Overflow Hidden -->
                <div class="card mb-12">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                     Weather Station
                     
                    </h6>
                    <h8>In future versions, the checkbox "View" will be used by the user to select which attributes must be plotted in a chart.</h8>
                  </div>
                  <div id="accordion"></div>
                 
                      
                      <div id="charts" > </div>
                      <div id="container"></div>
                    
                  </div>
        
               
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>SWAMP-Project</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
   
  </body>
</html>
