<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SWAMP - IoT Manager</title>

    <!-- Custom fonts for this template-->
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
  ></script>
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />

  
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
  />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

   

    <script>
       var dateRange="";
               $(function() {
                $('input[name="datetimes"]').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
                "timePicker24Hour": true,
            
                "startDate": moment().startOf('hour'),
    "endDate": moment().startOf('hour').add(0, 'hour')
        }, function(start, end, label) {
            var dateRange ={};
            dateRange.init=start.format("YYYY-MM-DD")+"T"+start.format("HH:mm:SS");
            dateRange.end=end.format("YYYY-MM-DD")+"T"+end.format("HH:mm:SS");
       
            var url = window.location.href;
            url = url.split('?')[0];
   
           url +="?&init="+dateRange.init+"&final="+dateRange.end;
            console.log(url);
            window.location.href = url;
        });
        });
    </script>

<style>
.card-header {
  border-top: 10px;

}
.loader-wrapper {
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 12;
        background-color: #e7e8e8;
        opacity: 90%;
        min-height: 500px;
  
      }
      .loader{
        
    position: relative;
    left:40%;
    top: 50px;
    
  
      }
</style>
    <script>
        
     


  
function getDate(){
getRAWProbeData(dateRange);

}
          </script>
<script>
   var arr;
window.onload = function () {
      //Mask.setOnlyNumbers(Selector.$('tempo'));
      var url = window.location.href; 
        //hideChartDiv("clearButtonDiv");
            console.log("Params")   ;
            const urlParams = new URLSearchParams(url);
            var start = urlParams.get('init');
            var end = urlParams.get('final')
console.log("Datarange = "+start+ " "+end);

        var addresses = getAddresses();
        APIAddress = addresses.api;
        OrionAddress=addresses.orion
  
        

           getRAWProbeData(OrionAddress,APIAddress,start,end);

         
  }

   
    function getRAWProbeData (OrionAddress, APIAddress, start,end) {
var req2 = new XMLHttpRequest();
        
      var url = 'https://cors-anywhere.herokuapp.com/http://'+OrionAddress+'/v2/entities?type=SoilProbe';
      
      req2.open("GET", url, true);
      req2.setRequestHeader("fiware-service", "openiot");
      req2.setRequestHeader("fiware-servicepath", "/");
      req2.onreadystatechange = async function(){
          if (this.readyState ==4 && this.status ==200){
              var myArr = JSON.parse(this.responseText);

              
            
                 var series = await getTimeSeriesFromAPI(myArr,APIAddress,start,end);
                  console.log("Start em getRaw");
              console.log(start);
              series.forEach((element)=>{
console.log("Element");
console.log(element);
if (element.index.length >0){
  createChartDiv(element.entityId);
  drawChart(element);
  
}
              });
              
            hideLoading();
            //drawChart(myArr[i],i);
           
      }
     
      
     
}
req2.send();
  }
const getTimeSeriesFromAPI = async (myArr,APIAddress,start,end) => {
        var entities = new Array();
        var elements = myArr.length;
        for (i = 0; i < myArr.length; i++) {
          
          var temp = await timeSeriesAPI(myArr[i].id,APIAddress,start,end);
          console.log("TEMP");
          if(temp.error != null){
            console.log("É nulo");
          }else{
            console.log("não é nulo");
          entities.push(temp);
          }
        }

        return entities;
      };

const timeSeriesAPI = async (id,APIAddress,start,end) => {
  var url ;
  console.log("start em getTimeSeries"+start)
          if(start == null ){
           url = "https://cors-anywhere.herokuapp.com/http://"+APIAddress+"/v0/SoilProbe/"+id+"?lastN=30";
             }
             else{
              url = "https://cors-anywhere.herokuapp.com/http://"+APIAddress+"/v0/SoilProbe/"+id+"?&fromDate"+start+"&toDate="+end;
             }
                console.log(url)    ;
                      var opcoes = {
                      method: "GET",
            
                      headers: {
                        "fiware-service": "openiot",
                        "fiware-servicepath": "/",
                      },
                      
                    };
                    try {
                      const response = await fetch(url, opcoes);
                      const json = response.json();
                      
                      return json;
                    } catch (error) {
                      return error;
                      
                    }
                  };

function createChartDiv(entityId){

var block_to_insert ;
var container_block ;

block_to_insert = document.createElement( 'div' );
block_to_insert.innerHTML = '<div id="'+entityId+'" ><div class="card-header">Probe: '+entityId+'</div><div class="card-body"><div id="'+entityId+'moisture" class="chart-div"></div><br><div id="'+entityId+'temp" class="chart-div"></div><div id="'+entityId+'battery" class="chart-div"></div></div></div></br></br>' ;
//block_to_insert.innerHTML='<div class="card"><div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseOne'+entityId+'">Insert</a></div><div id="collapseOne'+entityId+'" class="collapse show"><div class="card-body">Inserted</div></div></div>';
container_block = document.getElementById( 'accordion' );
container_block.appendChild( block_to_insert );

}



      </script>
  </head>

  <body id="page-top">
   
    <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
        <% include ./nav %>
        <!-- Sidebar -->
  
        <!-- End of Sidebar -->
  
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
            <!-- Topbar -->
            <nav
              class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
            >
              <!-- Sidebar Toggle (Topbar) -->
              <button
                id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3"
              >
                <i class="fa fa-bars"></i>
              </button>
  
              <!-- Topbar Search -->
              
  
              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                
  
                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="alertsDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter"></span>
                  </a>
                  <!-- Dropdown - Alerts -->
                  <div
                    class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="alertsDropdown"
                  >
                    <h6 class="dropdown-header">
                      Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      
                      <div>
                        
                        
                        >
                      </div>
                    </a>
                    
                    <a
                      class="dropdown-item text-center small text-gray-500"
                      href="#"
                      >Show All Alerts</a
                    >
                  </div>
                </li>
  
  
                <div class="topbar-divider d-none d-sm-block"></div>
  
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="userDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                      >Undefined</span
                    >
                    <img
                      class="img-profile rounded-circle"
                      src="https://f0.pngfuel.com/png/178/595/black-profile-icon-illustration-user-profile-computer-icons-login-user-avatars-png-clip-art-thumbnail.png"
                    />
                  </a>
                  <!-- Dropdown - User Information -->
                  <div
                    class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown"
                  >
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Settings
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                      Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item"
                      href="#"
                      data-toggle="modal"
                      data-target="#logoutModal"
                    >
                      <i
                        class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                      ></i>
                      Logout
                    </a>
                  </div>
                </li>
              </ul>
            </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            

            <!-- Content Row -->
            <div class="row">
              <div class="col-lg-12">
                <% include ./loader %>
                <!-- Overflow Hidden -->
                <div class="card mb-12">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <h1 class="h3 mb-1 text-gray-800" id="pilotTitle"><%= pilot %> Pilot</h1>
                    </h6>
                  </div>
                  
                  <div class="card-body">
                    The last 30 samples are showed by default.<br>
                    Select the Date Interval
                    <div id="alert" class="alert"></div>
                    <input class="form-control" type="text" name="datetimes"  />
                    
                    <div id="accordion" class="card">
                     </div>
                    
                  </div>
        
               
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>SWAMP-Project</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <script>
function drawChart(dataArray) {
  
  
        
        var x = dataArray.index;
        
        var moisture1 = [];
        dataArray.attributes.forEach((element) => {
          if (element.attrName == "soilMoistureRawDepth1") {
            element.values.forEach((valor) => {
              if (valor != null){
              moisture1.push(valor);
              }else{
                moisture1.push(0);
              }
            });
          }
        });
        var moisture2 = [];
        dataArray.attributes.forEach((element) => {
          if (element.attrName == "soilMoistureRawDepth2") {
            element.values.forEach((valor) => {
              
              moisture2.push(valor);
            });
          }
        });
        var moisture3 = [];
        dataArray.attributes.forEach((element) => {
          if (element.attrName == "soilMoistureRawDepth3") {
            element.values.forEach((valor) => {
              
              moisture3.push(valor);
            });
          }
        });
        var battery = [];
        dataArray.attributes.forEach((element) => {
          if (element.attrName == "battery") {
            element.values.forEach((valor) => {
            
              battery.push(valor);
            });
          }
        });
       

        var temperature1 = [];
        dataArray.attributes.forEach((element) => {
          if (element.attrName == "soilTemperatureDepth1") {
            element.values.forEach((valor) => {
              temperature1.push(valor);
            });
          }
        });
        
        var optionsMoisture = {
          title: {
            text: "Moisture",
            align: "left",
          },
          dataLabels: {
            enabled: true,
          },
          chart: {
            type: "line",
            height: 350,
          },
          series: [
            {
              name: "soilMoistureRawDepth1",
              data: moisture1,
            },{
              name: "soilMoistureRawDepth2",
              data: moisture2
            },{
              name: "soilMoistureRawDepth3",
              data: moisture3
            }
          ],
          xaxis: {
            type: "datetime",
            categories: x,
          },
        };
        var divmoisture = dataArray.entityId+"moisture";
        var divtemperature = dataArray.entityId+"temp";
        var divbattery = dataArray.entityId+"battery";
        var chart = new ApexCharts(
         
          document.getElementById(divmoisture),
          optionsMoisture
        );
        chart.render();

        var optionsBattery = {
          title: {
            text: "Battery",
            align: "left",
          },
          dataLabels: {
            enabled: true,
          },
          chart: {
            type: "line",
            height: 350,
          },
          series: [
            {
              name: "Battery",
              data: battery,
            }
          ],
          xaxis: {
            type: "datetime",
            categories: x,
          },
        };
        var chart = new ApexCharts(
         
         document.getElementById(divbattery),
         optionsBattery
       );
       chart.render();
        //here


        var optionsTemp = {
          title: {
            text: "Temperature",
            align: "left",
          },
          dataLabels: {
            enabled: true,
          },
          chart: {
            type: "line",
            height: 350,
          },
          series: [
            {
              name: "Temperature1",
              data: temperature1,
            }
          ],
          xaxis: {
            type: "datetime",
            categories: x,
          },
        };
        var chart = new ApexCharts(
          document.getElementById(divtemperature),
          optionsTemp
        );
        chart.render();
    
      }

  
  
        

      function hideLoading() {
        var id = document.getElementById("loader-wrapper");
        id.style.display = "none";
      }
      function showLoading() {
        var id = document.getElementById("loader-wrapper");
        id.style.display = "block";
      }
      function alertar(tipo,mensagem){
      if (tipo == "info"){
        var alert = document.getElementById("alert");
                    var body = '<div class="alert alert-info alert-dismissible fade show" role="alert">';
                    body += "<strong>Info: </strong>"+mensagem;
                    body += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                  alert.appendChild = body;
      
      }
      if (tipo == "error"){
        var alert = document.getElementById("alert");
                    var body = '<div class="alert alert-danger alert-dismissible fade show" role="alert">';
                    body += "<strong>Error: </strong>"+mensagem;
                    body += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                  alert.innerHTML = body;
      }
      


      

      }
      function getAddresses(){
      var pilot=document.getElementById("pilotTitle").innerHTML;
            console.log(pilotTitle.innerHTML);
            var APIAddress;
            var OrionAddress;

            if(pilot=="MATOPIBA Pilot"){
              OrionAddress = "177.104.61.52:1026";
              APIAddress = "177.104.61.16:2019";
            }if(pilot=="Guaspari Pilot"){
              APIAddress = "177.104.61.17:1026"
              OrionAddress = "177.104.61.48:2019";
            }
            var addresses = { orion: OrionAddress, api: APIAddress};
            return addresses;
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Bootstrap core JavaScript-->
   
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
  </body>
</html>
